@import url(reset.css);
@import url(helpers.css);
@import url(navbar.css);
@import url(font.css);
@import url(color.css);
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/Group1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-attachment: fixed;
    height: 80vh;
}

.background {
    background-image: linear-gradient(to bottom, grey, black);
    background-position: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -997;
    opacity: 0.3;
    height: 100vh;
}


/* header {} */

footer {
    position: absolute;
    background-color: #1b1b1b;
    display: block;
    width: 100%;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    opacity: 0.7;
}

.lorem {
    position: absolute;
    top: 50%;
    left: 10%;
    max-width: 500px;
}

.lorem p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
}

footer .clean-list {
    padding: 0 20px;
}

section {
    height: 10px;
    background: transparent;
}

input[type="text"] {
    border: 0;
    border-radius: 5px;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 100px;
    text-align: center;
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    z-index: 1;
}

.mainForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #8dbdbd;
    padding: 10px;
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

.inputBlock input {
    padding: 5px;
}

.inputBlock {
    margin: 10px 10px 10px 0;
}


/* CSS */

.btn {
    background-color: #c2fbd7;
    border-radius: 50px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05);
}